body {
    background-color: #1a1a1d;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url('../images/wood_texture.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
}

.create-header {
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding: 1rem;
}

.header {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #444;
    background-color: #333;
    border: 2px solid #444;
    border-radius: 0.5rem;
    color: #fff;
    padding: 1rem;
}

h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.cards-container {
    display: flex;
    gap: 2rem;
}

.card {
    background-color: #333;
    border: 2px solid #444;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    padding: 1rem;
    background-image: url('billiards_ball.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.card-header {
    background-color: rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid #fff;
    padding: 0.75rem 1.25rem;
    border-radius: 0.5rem 0.5rem 0 0;
}

.card-header h4 {
    color: #fff;
}

.card-body {
    padding: 1.5rem;
}

.file-upload {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.file-upload img {
    width: 40%;
    margin-bottom: 1rem;
}

label[for="profile_pic"]:hover {
    cursor: pointer;
}

.file-upload input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-control {
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
}

.form-control::placeholder {
    color: #fff;
}

.btn-primary {
    background-color: #4BB543;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #3e9937;
}

.btn-danger {
    background-color: #da1e28;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
    background-color: #ba1b23;
    border-color: #a1191d;
}

.messages li {
    color: red;
}

input[type="submit"]:focus,
input[type="submit"]:active {
    box-shadow: none;
}