<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/create_edit_profile_styling.css') }}" rel="stylesheet">
    <title>Edit Profile</title>

</head>

<body>
    <div class="container py-3">
        <div class="header">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <a href="{{ url_for('dashboard') }}" class="btn-sm btn-primary">Dashboard</a>
                    <a href="{{ url_for('add_event') }}" class="btn-sm btn-primary">Add Event</a>
                </div>
                <div>

                    <a href="{{ url_for('logout') }}" class="btn-sm btn-danger">Logout</a>
                </div>
            </div>
        </div>
        <div class="create-header"></div>
        <div class="container">
            <div class="row justify-content-start">
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-header text-center">
                            <h3>Edit your profile</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form action="{{ url_for('update_profile', profile_id=profile.profile_id)}}" method="POST">
                                        <input type="hidden" name="profile_id" value="{{ profile.profile_id }}">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="first_name" name="first_name" value="{{ profile.first_name }}">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="last_name" name="last_name" value="{{ profile.last_name}}">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="nickname" name="nickname" value="{{ profile.nickname }}">
                                        </div>
                                        <div class="form-group narrow-field">
                                            <select name="city" id="city" class="form-control">
                                                <option value="" selected disabled>City</option>
                                                <option value="new_york" {% if profile.city == 'new_york' %}selected{% endif %}>New York</option>
                                        <option value="los_angeles" {% if profile.city == 'los_angeles' %}selected{% endif %}>Los Angeles</option>
                                        <option value="san_francisco" {% if profile.city == 'san_francisco' %}selected{% endif %}>San Francisco</option>
                                        <option value="chicago" {% if profile.city == 'chicago' %}selected{% endif %}>Chicago</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="home_bar" name="home_bar" value="{{ profile.home_bar }}">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="team_name" name="team_name" value="{{ profile.team_name }}">
                                        </div>
                                        <br>

                                        <div>
                                            <input type="submit" class="btn btn-primary" value="Submit">
                                        </div>
                                    </form><br>
                                    <div>
                                        {% if errors %}
                                        <ul class="messages">
                                            {% for error in errors %}
                                            <li>{{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-lg-6 d-flex align-items-center">
                                    <div class="w-100 text-center">
                                        <form action="{{ url_for('upload_profile_pic') }}" method="POST" enctype="multipart/form-data" class="file-upload">
                                            <input type="hidden" name="profile_id" value="{{ profile_id }}">
                                            <label for="profile_pic">
                                                {% if profile.profile_pic %}
                                                    <img src="{{ url_for('static', filename='uploads/' + profile.profile_pic) }}" alt="Profile Picture" class="mx-auto d-block">
                                                {% else %}
                                                    <img src="{{ url_for('static', filename='images/empty-profile-pic.png') }}" alt="Empty Profile Pic" class="mx-auto d-block">
                                                {% endif %}
                                            </label>
                                            <div class="custom-file-upload">
                                                <input type="file" id="profile_pic" name="profile_pic" class="custom-file-input">
                                            </div>
                                            {% if profile_error %}
                                            <p class="messages">{{ profile_error }}</p>
                                            {% endif %}
                                            <input type="submit" class="btn btn-primary d-block mx-auto mt-3" value="Upload">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script>
    document.getElementById("profile_pic").addEventListener("change", function(event) {
        let output = document.querySelector('img');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function() {}
    });
</script>

</html>