<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="{{ url_for('static', filename='css/event_profile_styling.css') }}" rel="stylesheet">
    <title>{{ user.first_name }} {{ user.last_name }}'s Dashboard</title>
</head>


<body>
    <div class="container py-3">
        <div class="header d-flex justify-content-between align-items-center">
            <div>
                <a href="{{ url_for('dashboard', filter_by_city=None) }}" class="btn-sm btn-info">All</a>
                <a href="{{ url_for('dashboard', filter_by_type='9-ball') }}" class="btn-sm btn-info">9-Ball</a>
                <a href="{{ url_for('dashboard', filter_by_type='8-ball') }}" class="btn-sm btn-info">8-Ball</a>
                <select class="btn-sm btn-secondary" name="filter_by_city" onchange="window.location.href = '{{ url_for('dashboard') }}?filter_by_city=' + encodeURIComponent(this.value);">
                    <option value="">Select city</option>
                    {% for city in cities %}
                        <option value="{{ city }}">{{ city.replace('_', ' ').title() }}</option>
                    {% endfor %}
                </select>
            </div>
            <div>
                <a href="{{ url_for('add_event') }}" class="btn-sm btn-primary">Add Event</a>
                <a href="{{ url_for('show_profile', profile_id=profile.profile_id) }}" class="btn-sm btn-primary">My Profile</a>
                <a href="{{ url_for('logout') }}" class="btn-sm btn-danger">Logout</a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3>All Events</h3>
                <div class="events-container">
                    {% if events %}
                    <table id="events-table">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Location</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for event in events %}
                            <tr>
                                <td><a href="{{ url_for('show_event', event_id=event.event_id) }}">{{ event.title }}</a></td>
                                <td>{{ event.location }}</td>
                                <td>{{ event.datetime.strftime('%Y-%m-%d') }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p>No events available.</p>
                    {% endif %}
                </div>

            </div>
            <div class="col">
                <h3>My Events</h3>
                <div class="events-container">
                    {% if registered_events %}
                    <table id="events-table" class="sortable-table">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Location</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for registered_event in registered_events %}
                            <tr>
                                <td><a href="{{ url_for('show_event', event_id=registered_event.event_id) }}">{{ registered_event.title }}</a></td>
                                <td>{{ registered_event.location }}</td>
                                <td>{{ registered_event.datetime.strftime('%Y-%m-%d') }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p>No events available.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>

</html>


</html>